* {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: #333;
  display: grid;
  height: 100%;
  width: 100%;
}

#my-canvas {
  background: #fff;
  border: #999 1px solid;
  align-self: center;
  justify-self: center;
}

#assets {
  justify-self: center;
  align-self: center;
  color: #999;
}

#assets a:link,
#assets a:visited {
  text-decoration: none;
  color: #999;
}

#assets a:hover {
  text-decoration: underline;
  color: #999;
}
